body{
  background-color:rgb(202, 187, 168);
}

.container{
  display:grid;
  grid-template-columns: repeat(12,1fr);
  height:300px;
  gap:10px;
  border:2px solid red;
}

.row1 , .row2, .row3{
  border:1px dotted 
}

.row1{
  /* grid-column-start:1;
  grid-column-end:2;
  grid-row-start:1;
  grid-row-end:1;
  background-color:blueviolet; */

  grid-column:3/7;
  grid-row:1/2;
  background-color:aliceblue;
}

.row1col1, .row2col2, .row3col3, .row4col4{
    height:70px;
    border: 1px solid red;
}